body {
    padding: 0;
    
   margin: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
background-color: #f0f0f0; /* Barva pozadí pro případné okraje obrazovky */
}

#container {
    position: relative;
    
}
        #specific-img {
            max-width: 100%; /* Omezí maximální šířku obrázku na 100% */
            height: auto; /* Zachová původní poměr stran obrázku */
            -webkit-border-radius: 57px;
            filter: drop-shadow(0 0 1rem black)
        }

        @media only screen and (min-width: 601px) {
            /* Pro počítačové obrazovky (šířka větší než 600px) */
            #specific-img {
                width: auto; /* Dopočítá šířku automaticky */
                height: 100vh; /* Zaujme 100% výšky obrazovky */
                max-width: none; /* Zruší omezení maximální šířky */
            }
        }

        #nadpis {
            position: absolute;
            top: 18%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size:calc(17px + 0.8vw);
            text-align: center;
            font-family: 'Witch Magic', sans-serif;
            text-shadow: 1px 1px 0.6257822277847309vh black;
            animation: zvetseniTextu 1s ease-in-out 2;
            
        }
        
@keyframes zvetseniTextu {
  0% {
    font-size:calc(17px + 0.8vw);
  }
  50% {
    font-size:calc(18px + 0.85vw);
  }
  100% {
    font-size:calc(17px + 0.8vw);
  }
}

        #moznyshineeeeeeeeeee {
            position: absolute;
            top: 18%;
            left: 50%;
            transform: translate(-50%, -50%);
     background: linear-gradient(90deg, #e0b014 0%, rgba(236,172,32,1) 20%, #ebb710 39%, rgba(249,244,180,1) 50%, #d6a300 60%, rgba(236,172,32,1) 80%, #e0b014 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;	
    animation: shine 3s infinite;
    background-size: 200%;
    background-position: left;
            font-size:calc(17px + 0.8vw);
            text-align: center;
            font-family: 'Witch Magic', sans-serif;
            
        }

.nadpis{
    position:relative;
    top:0%;
}
#pattern
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    background-color:green;
}

#podkategorie
{
            position: absolute;
            top: 40%;
            left: 50%;
            width:90%;
            height:20%;
            transform: translate(-50%, -50%);
            text-align: center;
            text-shadow: 1px 1px 0.6257822277847309vh black;
           /* background-color:green;*/
}
#prehled_main
{
            position: absolute;
            top: 37%;
            left: 50%;
            width:90%;
            height:20%;
            transform: translate(-50%, -50%);
            text-align: center;

       /* background-color:green;*/
}
#odpocet_pole
{
            position: absolute;
            top: 55%;
            left: 50%;
            width:90%;
            height:20%;
            transform: translate(-50%, -50%);
            text-align: center;

        /* background-color:green;*/
}
#odpocet_text
{
            position: absolute;
            top: 50%;
            left: 25%;
            width:50%;
            height:100%;
            transform: translate(-50%, -50%);

        /* background-color:blue; */
}
#odpocet_cisla
{
            position: absolute;
            top: 50%;
            left: 75%;
            width:50%;
            height:100%;
            transform: translate(-50%, -50%);
            text-align: center;

       /*  background-color:red; */
}
#message
{
            position: absolute;
            top: 40%;
            left: 50%;
            width:80%;
            height:40%;
        transform: translate(-50%, -50%);
            color: white;
            font-size:calc(13px + 0.8vw);
            text-align: center;
          /*  font-family: 'Wida Round Demo', sans-serif;*/
          font-family: 'Gidolinya', sans-serif;
            text-shadow: 1px 1px 0.6257822277847309vh black; 
 
}
#podkategorie_1
{
            position: absolute;
            top: 50%;
            left: 16.7%;
            width:33.3%;
            height:100%;
            transform: translate(-50%, -50%);
            text-align: center;
            text-shadow: 1px 1px 0.6257822277847309vh black;
           /* background-color:red;*/
            
}
#ikona_1
{
        background-image: url('../images/icon_1.png');
        background-size: cover; /* Zajistí, aby obrázek pokryl celý div */
        width: calc(40px + 1.1716461628588166vw);
        height: calc(40px + 1.1716461628588166vw);
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: drop-shadow(1px 1px 1px black)
}
.secret_pocet_deti_canvas
{
        width: 30%;
        height: 80%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
}
.deti_canvas_1
{
        left:20%;

}
.deti_canvas_2
{
        left:50%;

}
.deti_canvas_3
{

        left:80%;
}
.secret_text
{
    top:75%;
        left: 50%;
        width:100%; 
        position:absolute;
        transform: translate(-50%, -50%);
            color: white;
            font-size:calc(12px + 0.5vw);
            text-align: center;
          /*  font-family: 'Wida Round Demo', sans-serif;*/
          font-family: 'Gidolinya', sans-serif;
            text-shadow: 1px 1px 2px black;
}
#secret_pocet_deti
{
        background-image: url('../images/icon_1.png');
        background-size: cover; /* Zajistí, aby obrázek pokryl celý div */
        width: calc(40px + 0.5858230814294083vw);
        height: calc(40px + 0.5858230814294083vw);
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: drop-shadow(1px 1px 1px black)  
}
#secret_prijmy
{
        background-image: url('../images/icon_5.png');
        background-size: cover; /* Zajistí, aby obrázek pokryl celý div */
        width: calc(40px + 0.5858230814294083vw);
        height: calc(40px + 0.5858230814294083vw);
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: drop-shadow(1px 1px 1px black)  
}
#secret_vydaje
{
        background-image: url('../images/icon_4.png');
        background-size: cover; /* Zajistí, aby obrázek pokryl celý div */
        width: calc(40px + 0.5858230814294083vw);
        height: calc(40px + 0.5858230814294083vw);
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: drop-shadow(1px 1px 1px black)  
}
.text
{
    position:absolute;
        transform: translate(-50%, -50%);
            color: white;
            font-size:calc(13px + 0.5vw);
            text-align: center;
          /*  font-family: 'Wida Round Demo', sans-serif;*/
          font-family: 'Gidolinya', sans-serif;
            text-shadow: 1px 1px 2px black;
                    top: 59%;
}

.text_1
{
        left: 50%;
}
#podkategorie_2
{
            position: absolute;
            top: 50%;
            left: 50%;
            width:33.3%;
            height:100%;
            transform: translate(-50%, -50%);
            text-align: center;
            text-shadow: 1px 1px 0.6257822277847309vh black;
          /*  background-color:yellow;*/
            
            
}
#ikona_2
{
        background-image: url('../images/icon_2.png');
        background-size: cover; /* Zajistí, aby obrázek pokryl celý div */
        width: calc(40px + 1.1716461628588166vw);
        height: calc(40px + 1.1716461628588166vw);
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: drop-shadow(1px 1px 1px black)
}
.text_2
{
        left: 50%;
}
.text_down
{
        left: 50%;
        width:100%; 
        position:absolute;
        transform: translate(-50%, -50%);
            color: white;
            font-size:calc(8px + 0.3vw);
            text-align: center;
          /*  font-family: 'Wida Round Demo', sans-serif;*/
          font-family: 'Gidolinya', sans-serif;
            text-shadow: 1px 1px 2px black;
}
.down_1
{
        top: 73%;
}
.down_2
{
        top: 73%;
}
.down_3
{
        top: 73%;
}
#podkategorie_3
{
            position: absolute;
            top: 50%;
            left: 83.3%;
            width:33.3%;
            height:100%;
            transform: translate(-50%, -50%);
            text-align: center;
            text-shadow: 1px 1px 0.6257822277847309vh black;
           /* background-color:pink;*/
}
#ikona_3
{
        background-image: url('../images/icon_3.png');
        background-size: cover; /* Zajistí, aby obrázek pokryl celý div */
        width: calc(40px + 1.1716461628588166vw);
        height: calc(40px + 1.1716461628588166vw);
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: drop-shadow(1px 1px 1px black)
}
.text_3
{
        left: 50%;
}


#black-background {
    background-color:#F3F0CF;
    background-image: linear-gradient(to right, #949281,#F3F0CF,#fffbdb,#fffef2,#fffbdb,#F3F0CF, #949281);
    width: 100%;
    background:
radial-gradient(circle farthest-side at 0% 50%,#F3F0CF 23.5%,rgba(240,166,17,0) 0)21px 30px,
radial-gradient(circle farthest-side at 0% 50%,white 24%,rgba(240,166,17,0) 0)19px 30px,
linear-gradient(#F3F0CF 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#F3F0CF 0)0 0,
linear-gradient(150deg,#F3F0CF 24%,white 0,white 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,white 0,white 76%,#F3F0CF 0)0 0,
linear-gradient(30deg,#F3F0CF 24%,white 0,white 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,white 0,white 76%,#F3F0CF 0)0 0,
linear-gradient(90deg,white 2%,#F3F0CF 0,#F3F0CF 98%,white 0%)0 0 #F3F0CF;
background-size: 40px 60px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}
#stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}
@keyframes starFall {
    from {
        transform: translate(100vh,-1000px) rotate(45deg);
    }
    to {
        transform: translate(${window.innerHeight + 10}px) rotate(45deg);
    }
}
.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #ffffff;
    opacity: 0.8;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8); /* Světlo hvězdy */
}
@mixin hearts($bg_size, $base_color, $color_1, $color_2) {
  $dot_size: $bg_size/7.5;
  background: $base_color;
  background-image: url("../images/web/sample_1.svg");

}

.hearts-bg {
  height: 100%;
  @include hearts(122px, #fafafa, #c33, #d77);
}

body {
	background: #1a1a1a;
	color: #333;
	font: 100% Arial, Sans Serif;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#background-wrap {
    bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* KEYFRAMES_ohen */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.x2 {
	-webkit-animation: animateKriz 20s linear infinite;
	-moz-animation: animateKriz 20s linear infinite;
	animation: animateKriz 20s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateStrom 30s linear infinite;
	-moz-animation: animateStrom 30s linear infinite;
	animation: animateStrom 30s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateKytara 18s linear infinite;
	-moz-animation: animateKytara 18s linear infinite;
	animation: animateKytara 18s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateSekyra 25s linear infinite;
	-moz-animation: animateSekyra 25s linear infinite;
	animation: animateSekyra 25s linear infinite;
	
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}

/* Oheň*/

        .cloud {
            background: url('../images/sample_2.svg') no-repeat;
            background-size: cover;
            border-radius: 100px;
            /*box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);*/
            height: 109px;
            position: relative;
            width: 77px;
        }

        .cloud:after, .cloud:before {
            background: transparent;
            content: '';
            position: absolute;
            z-index: -1;
        }

        .cloud:after {
            border-radius: 100px;
            height: 100px;
            left: 50px;
            top: -50px;
            width: 100px;
        }

        .cloud:before {
            border-radius: 200px;
            height: 180px;
            right: 50px;
            top: -90px;
            width: 180px;
        }

/* KEYFRAMES_kriz */

@-webkit-keyframes animateKriz {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateKriz {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateKriz {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

        
/* Kříž*/

        .kriz {
            background: url('../images/sample_1.svg') no-repeat;
            background-size: cover;
            border-radius: 100px;
            /*box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);*/
            height: 109px;
            position: relative;
            width: 77px;
        }

        .kriz:after, .kriz:before {
            background: transparent;
            content: '';
            position: absolute;
            z-index: -1;
        }

        .kriz:after {
            border-radius: 100px;
            height: 100px;
            left: 50px;
            top: -50px;
            width: 100px;
        }

        .kriz:before {
            border-radius: 200px;
            height: 180px;
            right: 50px;
            top: -90px;
            width: 180px;
        }
/* KEYFRAMES_sekyra */

@-webkit-keyframes animateSekyra {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateSekyra {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateSekyra {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

        
/* Sekyra*/

        .sekyra {
            background: url('../images/sample_3.svg') no-repeat;
            background-size: cover;
            border-radius: 100px;
            /*box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);*/
            height: 109px;
            position: relative;
            width: 77px;
        }

        .sekyra:after, .sekyra:before {
            background: transparent;
            content: '';
            position: absolute;
            z-index: -1;
        }

        .sekyra:after {
            border-radius: 100px;
            height: 100px;
            left: 50px;
            top: -50px;
            width: 100px;
        }

        .sekyra:before {
            border-radius: 200px;
            height: 180px;
            right: 50px;
            top: -90px;
            width: 180px;
        }
/* KEYFRAMES_kytara */

@-webkit-keyframes animateKytara {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateKytara {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateKytara {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

        
/* Kytara*/

        .kytara {
            background: url('../images/sample_4.svg') no-repeat;
            background-size: cover;
            border-radius: 100px;
            /*box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);*/
            height: 109px;
            position: relative;
            width: 77px;
        }

        .kytara:after, .kytara:before {
            background: transparent;
            content: '';
            position: absolute;
            z-index: -1;
        }

        .kytara:after {
            border-radius: 100px;
            height: 100px;
            left: 50px;
            top: -50px;
            width: 100px;
        }

        .kytara:before {
            border-radius: 200px;
            height: 180px;
            right: 50px;
            top: -90px;
            width: 180px;
        }
/* KEYFRAMES_strom */

@-webkit-keyframes animateStrom {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateStrom {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateStrom {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

        
/* Strom*/

        .strom {
            background: url('../images/sample_5.svg') no-repeat;
            background-size: cover;
            border-radius: 100px;
            /*box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);*/
            height: 109px;
            position: relative;
            width: 77px;
        }

        .strom:after, .strom:before {
            background: transparent;
            content: '';
            position: absolute;
            z-index: -1;
        }

        .strom:after {
            border-radius: 100px;
            height: 100px;
            left: 50px;
            top: -50px;
            width: 100px;
        }

        .strom:before {
            border-radius: 200px;
            height: 180px;
            right: 50px;
            top: -90px;
            width: 180px;
        }

#menu
{
    position: absolute;
    top:6%;
    left: 50%;
    width: 90%;
    height: 10%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 1px 1px 0.6257822277847309vh black;
   /* background-color: green;*/
   
}
.open_modal
{
    top:45%; 
    position: absolute;
    width: 20%;
    height: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 1px 1px 0.6257822277847309vh black;
  /* background-color: yellow;*/
            color: white;
            font-size:calc(10px + 0.53vw);
          /*  font-family: 'Wida Round Demo', sans-serif;*/
          font-family: 'Gidolinya', sans-serif;
          font-weight: bold;
          cursor: pointer;
          transition: 0.3s;
          border-radius:10px;
}
.open_modal:hover
{
    font-size:calc(11px + 0.58vw);
    text-shadow: 1px 1px 0.6257822277847309vh white;
}
#menu_1
{
    position: absolute;
    top:0%;
    left: 0%;
    width:100%;
}
#menu_2
{
    position: absolute;
    top:0%;
    left: 0%;
    width:100%;
}
#menu_3
{
    position: absolute;
    top:0%;
    left: 0%;
    width:100%;

}
.open_modal_1
{
    left: 15%;
}
.open_modal_2
{
    left: 38.5%;

}
.open_modal_3
{
    left: 62.5%;
}
.open_modal_4
{
    left: 86%;
}
.modal {
    display: none; /* Skryté na začátku */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Průhledné pozadí */
    border-radius: 25px;
}
.modall {
    display: none; /* Skryté na začátku */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Průhledné pozadí */
    border-radius: 25px;
}
.modalll {
    display: none; /* Skryté na začátku */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Průhledné pozadí */
    border-radius: 25px;
}
.modallll {
    display: none; /* Skryté na začátku */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Průhledné pozadí */
    border-radius: 25px;
}
.modal_secret {
    display: none; /* Skryté na začátku */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Průhledné pozadí */
    border-radius: 25px;
}
.modal-content {
    background-color: #fdf8e3;
    margin: 15% auto;
    padding: 20px;
    border-radius: 40% 40% 30% 30% / 150% 150% 150% 150%;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    left:90%;
    position:absolute;
}

.close:hover,
.close:focus {
    color: black;
}

.closee {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    left:90%;
    position:absolute;
}

.closee:hover,
.closee:focus {
    color: black;
}

.close_secret {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    left:90%;
    position:absolute;
}

.close_secret:hover,
.close_secret:focus {
    color: black;
}

.closeee {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    left:90%;
    position:absolute;
}

.closeee:hover,
.closeee:focus {
    color: black;
}
#bublinaucastnici
{
    position: absolute;
    top: 20%;
    left: 50%;
    width: 90%;
    height: 21%;
    transform: translate(-50%, -50%);
    text-align: left;
   /* background-color: green; */
   font-family: 'Gidolinya', sans-serif;
}
#ucastnici_main
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 95%;
    transform: translate(-50%, -50%);
    text-align: left;
   background-color: #1f1f1f;
   filter: drop-shadow(1px 1px 10px black);
   font-family: 'Gidolinya', sans-serif;
   border-radius:10px;
}
#ucastnici_nadpis
{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 90%;
    height: 15%;
    transform: translate(-50%, -50%);
    text-align: left;
    filter: drop-shadow(1px 1px 10px black);
  background-color: #1c1b1b;
  border-radius:10px;
   font-family: 'Gidolinya', sans-serif;  
}
#ucastnici_seznam
{
    position: absolute;
    top: 57.5%;
    left: 50%;
    width: 100%;
    height: 80%;
    transform: translate(-50%, -50%);
    text-align: left;
   /*background-color: purple;*/
   font-family: 'Gidolinya', sans-serif;  
}
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Nastavuje výšku obalového divu na 100% viewportu, uprav podle potřeby */
    font-size:calc(7px + 0.45vw);

}

table {
    border-collapse: collapse;
    color: white; /* Nastaví barvu textu všech buněk na bílou */
    position:absolute;
    left:4vw;
    top:2vw;

}

td, th {
    border: 1px solid #ddd;
    padding: 0.1757469244288225vw; /* Nastaví padding buněk, uprav podle potřeby */
    text-align: center; /* Zarovná text v buňkách na střed */
}

/* Příklad pro zvětšení prvního sloupce */
th:first-child, td:first-child {
    width: 100%; /* Nastaví šířku prvního sloupce, uprav podle potřeby */
}

.platba_text
{
    color:black;
    font-size:calc(1.0137672090112642vh + 0.46vw);
    margin-top:10%;
    width:80%;
    margin-left:5%;
    animation: none;
    position:fixed;
    animation: bubble_1_anti 6s linear infinite;
}
#platba_nadpis
{
    top:-5%;
    position:absolute;
    color:black;
    left:44%;
    font-family: 'Witch Magic', sans-serif;
    font-size:calc(11px + 0.6vw);
    animation: bubble_1_anti 6s linear infinite;
}
#copyButton
{
    cursor: pointer;
    position:absolute;
    left:78%;
    top:40%;
    background: url('../images/clipboard.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width:20px;
    height:20px;
    z-index:1;
                    outline: 0;
                    color: #fff;
                    background-color: #ffaa00;
                    border-color: #0d6efd;
                    display: inline-block;
                    text-align: center;
                    border: 3px solid transparent;
                    padding: 8px 10px;
                    border-radius: .25rem;
animation: bubble_1_anti 6s linear infinite;
                    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#copyButton:hover
{
                        color: #fff;
                        background-color: #ad7402;

}
#qr_platba
{
    background: url('../images/qrplatba.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top:180%;
    position:absolute;
    left:20%;
    height: calc(150px + 10vw);
    width: calc(150px + 10vw);
    border-radius:20px;
    filter: drop-shadow(0 0 1rem black);
        animation: bubble_1_anti 6s linear infinite;
}
#prihlaska_canvas
{
    position:absolute;
    top: 10%;
    width: 80%;
    height: 60%;
    left:10%;
  background-color: #fdf8e3;
  border-radius: 30px;
}
#secret_top
{
    position:absolute;
    top: 5%;
    width: 80%;
    height: 15%;
    left:10%;
  background-color:#1a1a1a;
  border-radius:15px;
}
#seznam_veci_canvas
{
    position:absolute;
    top: 20%;
    width: 80%;
    height: 75%;
    left:-5%;
 /* background-color: red;*/
  border-radius: 5px; 
      font-family: 'Gidolinya', sans-serif;
    font-size: calc(1.0137672090112642vh + 0.46vw);

}
.prihlaska_nadpis
{
    position: absolute;
    color: black;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Witch Magic', sans-serif;
    font-size: calc(11px + 0.6vw);
}
.prihlaska_nadpis_1
{
    top:8%; 
}
.prihlaska_nadpis_2
{
    top:75%;
}
#seznam_nadpis
{
    position: absolute;
    color: black;
    left: 50%;
    width:100%;
    left:20%;
    top:10%;
    font-family: 'Witch Magic', sans-serif;
    font-size: calc(11px + 0.6vw);
 /*       transform: translate(-50%, -50%);
    text-align: center;*/
}
#fotogalerie_canvas
{
    position:absolute;
    top: 10%;
    width: 80%;
    height: 60%;
    left:10%;
  background-color: #fdf8e3;
  border-radius: 30px;
  text-align: center;
}
#fotogalerie_nadpis
{
    position: absolute;
    color: black;
    width:100%;
    left:0%;
    top:10%;
    font-family: 'Witch Magic', sans-serif;
    font-size: calc(11px + 0.6vw);
 /*       transform: translate(-50%, -50%);
    text-align: center;*/
}
#fotogalerie_disclaimer
{
    position: absolute; 
    width:80%;
    left:8%;  
    top:20%;
    font-family: 'Gidolinya', sans-serif;
    font-size: calc(5px + 0.6444053895723492vw);
    font-weight:bold;
    background-color:rgba(31, 31, 31);
    padding:10px;
    border-radius:10px;
    color:white;
}
.farni_tabor_foto
{
    position: absolute; 
    width:80%;
    left:8%;
    font-family: 'Gidolinya', sans-serif;
    font-size: calc(5px + 0.6444053895723492vw);
}
.foto_0
{
    top:38%; 
}
.foto_1
{
    top:53%;  
}
.foto_2
{
    top:62%;  
}
.foto_3
{
    top:72%;  
}
.prihlaska_text
{
    position: absolute;
    color: black;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Gidolinya', sans-serif;
    font-size: calc(1.0137672090112642vh + 0.46vw);
    width:80%;
}
.prihlaska_text_1
{
top:26.5%; 
}
.prihlaska_text_2
{
    top:85%;
}
#seznam_veci_text
{
    position: absolute;
    color: black;
    left: 12%;
    top:10%;
    font-family: 'Gidolinya', sans-serif;
    font-size: calc(5px + 0.6444053895723492vw);
    width:80%;
}
.odkaz_text
{
color:black;
font-weight: bold;
}
.odkaz_text:hover
{
color:blue;
}
#prihlaska_dokumenty_canvas
{
    position:absolute;
    top: 45%;
    width: 70%;
    height: 30%;
    left:15%;
  background-color: #f0e4b1;
  border-radius: 30px; 
filter: drop-shadow(0.5px 0.5px 1px white);
}

.prihlaska_dokumenty_row
{
    position:absolute;
    width: 80%;
    height: 25%;
    left:10%;
    
}
.row_1
{
    top: 8%;
 /* background-color: transparent;*/
 font-weight: bold;
}

.row_2
{
    top: 28%;
  /*background-color: yellow;*/
  font-weight: bold;
}

.row_3
{
    top: 48%;
 /* background-color: orange;*/

}
.row_4
{
    top: 68%;
 /* background-color: red;*/

}
.prihlaska_dokumenty_row_text
{
    position:absolute;
top:25%;
    color: black;
           align-items: center;
            justify-content: center;
    font-family: 'Gidolinya', sans-serif;
    font-size: calc(6px + 0.5vw);
}
.download_button
{
 position:absolute;
    left:80%;
    top:10%;
    background: url('../images/download.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
                    cursor: pointer;
                    outline: 0;
                    color: #fff;
                    background-color: #ffaa00;
                    border-color: #0d6efd;
                    display: inline-block;
                    font-weight: 400;
                    line-height: 1.5;
                    text-align: center;
                    border: 3px solid transparent;
                    padding:calc(3px + 0.29291154071470415vw) calc(3px + 0.29291154071470415vw);
                    border-radius: .25rem;
                    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.new_tab_button
{
 position:absolute;
    left:90%;
    top:10%;
    background: url('../images/new_tab.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
                    cursor: pointer;
                    outline: 0;
                    color: #fff;
                    background-color: #ffaa00;
                    border-color: #0d6efd;
                    display: inline-block;
                    font-weight: 400;
                    line-height: 1.5;
                    text-align: center;
                    border: 3px solid transparent;
                    padding:calc(3px + 0.29291154071470415vw) calc(3px + 0.29291154071470415vw);
                    border-radius: .25rem;
                    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;   
}
#countdown_start_camp
{
    top: 75%;
    font-size:calc(10px + 0.5vw);
    font-weight: bold;
    color:white;
    font-family: 'Witch Magic', sans-serif;
    text-shadow: 0.104vw 0.104vw 1px black;
    position: absolute; 
    left: 50%;
    width: 100%;
    transform: translate(-45%, -50%);
    text-align: left;
}

#countdown_end_platba
{
    font-size:calc(10px + 0.5vw);
    font-weight: bold;
    color:white;
    font-family: 'Witch Magic', sans-serif;
    text-shadow: 0.104vw 0.104vw 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-45%, -50%);
    text-align: left;
}
#countdown_end_prihlaska
{
    font-size:calc(10px + 0.5vw);
    font-weight: bold;
    color:white;
    font-family: 'Witch Magic', sans-serif;
    text-shadow: 0.104vw 0.104vw 1px black;
    position: absolute;
    top: 25%;
    left: 50%;
    width: 100%;
    transform: translate(-45%, -50%);
    text-align: left;
}
#countdown_start_camp_text
{
    top: 75%;
    font-size:calc(10px + 0.5vw);
    font-weight: bold;
    color:white;
    font-family: 'Witch Magic', sans-serif;
    text-shadow: 0.104vw 0.104vw 1px black;
    position: absolute; 
    left: 50%;
    width: 100%;
    transform: translate(-55%, -50%);
    text-align: right;
}

#countdown_end_platba_text
{
    font-size:calc(10px + 0.5vw);
    font-weight: bold;
    color:white;
    font-family: 'Witch Magic', sans-serif;
    text-shadow: 0.104vw 0.104vw 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-55%, -50%);
    text-align: right;
}
#countdown_end_prihlaska_text
{
    font-size:calc(10px + 0.5vw);
    font-weight: bold;
    color:white;
    font-family: 'Witch Magic', sans-serif;
    text-shadow: 0.104vw 0.104vw 1px black;
    position: absolute;
    top: 25%;
    left: 50%;
    width: 100%;
    transform: translate(-55%, -50%);
    text-align: right;
}
#podkategorie_kontakty
{
            position: absolute;
            top: 80%;
            left: 50%;
            width:90%;
            height:20%;
            transform: translate(-50%, -50%);
            text-align: center;
            text-shadow: 1px 1px 0.6257822277847309vh black;
           /*background-color:green;*/
}
#podkategorie_1_kontakty
{
            position: absolute;
            top: 50%;
            left: 25%;
            width:33.3%;
            height:100%;
            transform: translate(-50%, -50%);
            text-align: center;
            text-shadow: 1px 1px 0.6257822277847309vh black;
        /*   background-color:red;*/
            
}
#podkategorie_2_kontakty
{
            position: absolute;
            top: 50%;
            left: 75%;
            width:33.3%;
            height:100%;
            transform: translate(-50%, -50%);
            text-align: center;
            text-shadow: 1px 1px 0.6257822277847309vh black;
          /* background-color:red;*/
            
}
#kontakty_icon_1
{
        background-image: url('../images/contact_2.svg');
        background-size: cover; /* Zajistí, aby obrázek pokryl celý div */
        width: 6.257822277847309vh; /* Nastavte šířku a výšku podle potřeby */
        height: 6.257822277847309vh;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: drop-shadow(1px 1px 1px black)
}
#seznam_veci_backpack
{
        background-image: url('../images/backpack.png');
        background-size: cover; /* Zajistí, aby obrázek pokryl celý div */
        width: calc( 9.261576971214017vh + 4.335090802577621vw);
        height: calc(10.513141426783479vh + 4.92091388400703vw);
        position: absolute;
        top: 55%;
        left: 60%;
        transform: translate(-50%, -50%);
        opacity:0.5;
        transform: rotate(20deg);
}
#kontakty_icon_2
{
        background-image: url('../images/contact_1.svg');
        background-size: cover; /* Zajistí, aby obrázek pokryl celý div */
        width: 6.257822277847309vh; /* Nastavte šířku a výšku podle potřeby */
        height: 6.257822277847309vh;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: drop-shadow(1px 1px 1px black)
}
.kontakty_text_1
{
        width:100%;
    position:absolute;
        transform: translate(-50%, -50%);
            color: white;
            font-size:calc(10px + 0.5vw);
            text-align: center;
          /*  font-family: 'Wida Round Demo', sans-serif;*/
          font-family: 'Gidolinya', sans-serif;
            text-shadow: 1px 1px 0.6257822277847309vh black;
}
.kontakty_1
{
        top: 45%;
        left: 50%;
}
.kontakty_2
{
        top: 60%;
        left: 50%;
}
.kontakty_3
{
        top: 75%;
        left: 50%;
}
.kontakty_4
{
        top: 90%;
        left: 46%;
}
.kontakty_5
{
        top: 90%;
        left: 41%;
}